.caro-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caro-board .caro-row {
    display: flex;
    justify-content: center;
    align-items: center;
}