.caro-board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caro-board .caro-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.caro-board .caro-row .caro-element {
    width: auto;
    height: auto;
    max-width: 140px;
    max-height: 140px;
    cursor: pointer;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
